body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3%;
    font-size: 3rem;
}

/* Navigation Bar */
.navigation-bar {
    padding: 0 25px;
}

.nav-item {
    padding: 0 10px;
}


/* Content */

#content {
    margin-top: 56px;
}

.sticky {
    position: fixed;
    top: 0;
}

.content-table {
    padding-top: 50px;
    padding-left: 75px;
    
}

.content-description-column {
    padding: 100px 100px 100px 0;
    position: absolute;
}

.content-table-column {
    height:400px;
    position: relative;
}

.subheadings {
    font-weight: bold;
    padding: 3% 0 2%;
}

.insurance-types {
    font-weight: bold;
    padding: 2% 0 1%;
}
